#line-stock {
    align-items: center;
    gap: 10px;
}

/*********************************************/

.bga-dice_die6.takenokolor-die {
    --half-sqrt-3: 0.866;
    width: calc(var(--size)* 3);
    color: white;
    margin: var(--half-size) 0;
}

.bga-dice_die6.takenokolor-die .bga-dice_die-faces .bga-dice_die-face {
    background: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    box-sizing: border-box;
}

.bga-dice_die6.takenokolor-die .bga-dice_die-faces .bga-dice_die-face[data-face="1"] {
    transform: rotate3d(1, 0, 0, 0deg) translateZ(calc(var(--size) * var(--half-sqrt-3)));
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces .bga-dice_die-face[data-face="2"] {
    transform: rotate3d(1, 0, 0, 60deg) translateZ(calc(var(--size) * var(--half-sqrt-3)));
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces .bga-dice_die-face[data-face="3"] {
    transform: rotate3d(1, 0, 0, 120deg) translateZ(calc(var(--size) * var(--half-sqrt-3)));
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces .bga-dice_die-face[data-face="4"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(calc(var(--size) * var(--half-sqrt-3)));
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces .bga-dice_die-face[data-face="5"] {
    transform: rotate3d(1, 0, 0, 240deg) translateZ(calc(var(--size) * var(--half-sqrt-3)));
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces .bga-dice_die-face[data-face="6"] {
    transform: rotate3d(1, 0, 0, 300deg) translateZ(calc(var(--size) * var(--half-sqrt-3)));
  }

  .bga-dice_die6.takenokolor-die .bga-dice_die-faces[data-visible-face="1"] {
    transform: rotate3d(1, 0, 0, 0.0001deg);
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces[data-visible-face="2"] {
    transform: rotate3d(1, 0, 0, 60deg);
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces[data-visible-face="3"] {
    transform: rotate3d(1, 0, 0, 120deg);
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces[data-visible-face="4"] {
    transform: rotate3d(1, 0, 0, 180deg);
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces[data-visible-face="5"] {
    transform: rotate3d(1, 0, 0, 240deg);
  }
  .bga-dice_die6.takenokolor-die .bga-dice_die-faces[data-visible-face="6"] {
    transform: rotate3d(1, 0, 0, 300deg);
  }

  .bga-dice_die6.takenokolor-die .bga-dice_die-faces .pen-face {
      background: var(--color);
  }

  .bga-dice_die6.takenokolor-die .bga-dice_die-faces .pen-face.pen-side {
      width: calc(var(--size) * 10);
      height: calc(var(--size) * 0.5);
      position: absolute;
      display: inline-block;
      grid-column: 1;
      grid-row: 1;
      left: calc(var(--size) * -3.5);
      top: calc(var(--size) * 0.25);
  }

  .bga-dice_die6.takenokolor-die .bga-dice_die-faces .pen-side[data-face="1"] {
      transform: rotate3d(1, 0, 0, 0deg) translateZ(calc(var(--size) * 0.5 * var(--half-sqrt-3)));
    }
    .bga-dice_die6.takenokolor-die .bga-dice_die-faces .pen-side[data-face="2"] {
      transform: rotate3d(1, 0, 0, 60deg) translateZ(calc(var(--size) * 0.5 * var(--half-sqrt-3)));
    }
    .bga-dice_die6.takenokolor-die .bga-dice_die-faces .pen-side[data-face="3"] {
      transform: rotate3d(1, 0, 0, 120deg) translateZ(calc(var(--size) * 0.5 * var(--half-sqrt-3)));
    }
    .bga-dice_die6.takenokolor-die .bga-dice_die-faces .pen-side[data-face="4"] {
      transform: rotate3d(1, 0, 0, 180deg) translateZ(calc(var(--size) * 0.5 * var(--half-sqrt-3)));
    }
    .bga-dice_die6.takenokolor-die .bga-dice_die-faces .pen-side[data-face="5"] {
      transform: rotate3d(1, 0, 0, 240deg) translateZ(calc(var(--size) * 0.5 * var(--half-sqrt-3)));
    }
    .bga-dice_die6.takenokolor-die .bga-dice_die-faces .pen-side[data-face="6"] {
      transform: rotate3d(1, 0, 0, 300deg) translateZ(calc(var(--size) * 0.5 * var(--half-sqrt-3)));
    }