html {
    background: url(https://x.boardgamearena.net/data/themereleases/221026-1000/img/layout/back-main.jpg), #f2f2f2;
}

.nav {
    font-size: 120%;
    font-weight: bold;
}

h1, h2 {
    margin: 0.3rem;
}

.flex {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.flex > div {
    flex: 1;
}

.block {
    background: #FFFFFF99;
    border-radius: 8px;
    padding: 10px;
}

.flex .block {
    min-width: 500px;
}

.colored-die .bga-dice_die-face {
    background: url('dice.jpg');
    background-size: 600% 600%;
    border-radius: 5px;
}

.kot-die6 .bga-dice_die-face {
    background: url('kot-die6.png');
    background-size: 600% 100%;
}

.kot-die4 .bga-dice_die-face {
    background: linear-gradient(90deg, lightgoldenrodyellow 0%, gold 100%);
}



.kot-die4 .bga-dice_die-face-number::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    color: navy;
    font-size: 16pt;
    font-weight: bold;
    padding-top: calc(var(--size) * 0.1);
  }

.kot-die4 .bga-dice_die-face-number[data-number="1"]::after {
    content: '1';
}
.kot-die4 .bga-dice_die-face-number[data-number="2"]::after {
    content: '2';
}
.kot-die4 .bga-dice_die-face-number[data-number="3"]::after {
    content: '3';
}
.kot-die4 .bga-dice_die-face-number[data-number="4"]::after {
    content: '4';
}

.white-die .bga-dice_die-face {
    background: url('white-die.png');
    background-size: 600% 100%;
    border-radius: 5px;
}

.bga-dice_die .bga-dice_die-face[data-face="1"] {
    background-position-x: 0%;
}
.bga-dice_die .bga-dice_die-face[data-face="2"] {
    background-position-x: 20%;
}
.bga-dice_die .bga-dice_die-face[data-face="3"] {
    background-position-x: 40%;
}
.bga-dice_die .bga-dice_die-face[data-face="4"] {
    background-position-x: 60%;
}
.bga-dice_die .bga-dice_die-face[data-face="5"] {
    background-position-x: 80%;
}
.bga-dice_die .bga-dice_die-face[data-face="6"] {
    background-position-x: 100%;
}

.colored-die[data-color="0"] .bga-dice_die-face {
    background-position-y: 100%;
}
.colored-die[data-color="1"] .bga-dice_die-face {
    background-position-y: 0%;
}
.colored-die[data-color="2"] .bga-dice_die-face {
    background-position-y: 20%;
}
.colored-die[data-color="3"] .bga-dice_die-face {
    background-position-y: 40%;
}
.colored-die[data-color="4"] .bga-dice_die-face {
    background-position-y: 60%;
}


/*.bga-dice_selectable-die {
    box-shadow: 0 0 3px 2px lightgoldenrodyellow;
}*/
.bga-dice_selected-die {
    box-shadow: 0 0 5px 3px blueviolet;
}

