body > .bga-dice_die {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.bga-dice_die {
  --roll-duration: 1000ms;

  flex-shrink: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  
  transform-style: preserve-3d; 
  transform-origin: center center;

  
  .bga-dice_die-faces { 
    transform-origin: center center;
    transform-style: preserve-3d;
    position: relative;
    display: inline-block;
    transform: rotate3d(1, 1, 1, -720deg);   
    transition: transform var(--roll-duration) ease-out; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;

    .bga-dice_die-face {
      position: absolute;
      width: var(--size);
      height: var(--size);
      display: inline-block;
      //backface-visibility: hidden;
      
      height: 100%;
      width: 100%;
      grid-column: 1;
      grid-row: 1;
    }
  }
}
