$angle: 70.528779deg;
$sqrt3div2pct: 86.6%;  // V¨3 / 2

.bga-dice_die4 {
    --third-size: calc(var(--size) / 3 * 0.6);

    transform: translateZ(var(--third-size));
  
    .bga-dice_die-faces {
      &[data-visible-face="1"] {
        transform: rotateZ(0deg) rotateX(0deg);
      }
      &[data-visible-face="2"] {
        transform: rotate3d(0, 1, 0, 180deg) rotateZ(0deg) rotateX($angle);
      }
      &[data-visible-face="3"] {
        transform: rotateZ(180deg) rotateX(250deg) rotateZ(-120deg);
      }
      &[data-visible-face="4"] {
        transform: rotateX(120deg) rotateZ(-60deg);
      }
  
      .bga-dice_die-face {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        height: $sqrt3div2pct;
        transform-origin: 50% 66.66667%;
        margin-left: calc(var-(--size) * -0.5);
        margin-top: calc(var-(--size) * -0.5);
    
        &[data-face="1"] {
          transform: rotate3d(0, 1, 0, 180deg) translateZ(var(--third-size));
        }
        &[data-face="2"] {
          transform: rotateZ(0deg) rotateX(-$angle) translateZ(var(--third-size));
        }
        &[data-face="3"] {
          transform: rotateZ(120deg) rotateX(-$angle) translateZ(var(--third-size));
        }
        &[data-face="4"] {
          transform: rotateZ(240deg) rotateX(-$angle) translateZ(var(--third-size));
        }

        .bga-dice_die-face-number {
          transform-origin: center 66.66667%;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          display: block;
        }

        .bga-dice_die-face-number:nth-child(1) {
          transform: rotateZ(0deg);
        }

        .bga-dice_die-face-number:nth-child(2) {
          transform: rotateZ(120deg);
        }

        .bga-dice_die-face-number:nth-child(3) {
          transform: rotateZ(240deg);
        }
      }
    } 
}