.bga-dice_die6 {
  --half-size: calc(var(--size) / 2);

  transform:translateZ(var(--half-size));

  .bga-dice_die-faces {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    transition: transform var(--roll-duration) ease-out;

    &[data-roll="1"] {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    &[data-roll="2"] {
        transform: rotate3d(1, 0, 0, 90deg);
    }
    &[data-roll="3"] {
        transform: rotate3d(0, -1, 0, 90deg);
    }
    &[data-roll="4"] {
        transform: rotate3d(0, 1, 0, 90deg);
    }
    &[data-roll="5"] {
        transform: rotate3d(-1, 0, 0, 90deg);
    }
    &[data-roll="6"] {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    .bga-dice_die-face {
        height: 100%;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        border-radius: var(--bga-dice_border-radius);
    
        &[data-face="1"] {
          transform: rotate3d(0, 0, 0, 90deg) translateZ(var(--half-size));
        }
        &[data-face="2"] {
          transform: rotate3d(-1, 0, 0, 90deg) translateZ(var(--half-size));
        }
        &[data-face="3"] {
          transform: rotate3d(0, 1, 0, 90deg) translateZ(var(--half-size));
        }
        &[data-face="4"] {
          transform: rotate3d(0, -1, 0, 90deg) translateZ(var(--half-size));
        }
        &[data-face="5"] {
          transform: rotate3d(1, 0, 0, 90deg) translateZ(var(--half-size));
        }
        &[data-face="6"] {
          transform: rotate3d(1, 0, 0, 180deg) translateZ(var(--half-size));
        } 
    }
    
  } 
}
